.center {
    text-align: center;
    padding: 100px;
}

body {
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #141414;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -70px;
}

.header {
    color: rgb(34, 177, 76);
    font-family: "Verdana", sans-serif;
    font-size: 85px;
    font-weight: 100;
    line-height: 120px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding: 50px;
}

audio {
    padding: 10px;
}
