.center {
    text-align: center;
    padding: 50px;
}

body {
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-color: #141414;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.horiLi {
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    float: left;
    display: inline;
}

.aBlock {
    display: block;
    color: #141414;
    text-align: center;
    padding: 22px 80px;
    text-decoration: none;
}
.aBlock:hover {
    background-color: rgb(34, 177, 76);
}

.frogLi {
    color: rgb(34, 177, 76);
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    font-weight: 10;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

h1 {
    color: rgb(34, 177, 76);
    font-family: "Verdana", sans-serif;
    font-size: 85px;
    font-weight: 100;
    line-height: 120px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding: 20px;
}

h2 {
    color: rgb(34, 177, 76);
    font-family: "Verdana", sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding: 20px;
}

p {
    color: rgb(34, 177, 76);
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    font-weight: 10;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

audio {
    padding: 10px;
}
